.container {
    min-height: 100vh;
    padding: 24px;
    max-width: 80%;
    margin: 0 auto;
}

.title {
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    color: #111827;
    margin-bottom: 2rem;
}

.filter_search {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 3rem;
}

.topicButton {
    padding: 0.4rem 1rem;
    font-size: 0.95rem;
    border: none;
    background: transparent;
    color: #111827;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.topicButton:hover {
    background: #e5edff;
    color: #1d4ed8;
}

.active {
    background: #e0e7ff;
    color: #1e40af;
    font-weight: 600;
}

/* Lưới đề thi */
.grid {
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.card {
    position: relative;
    background: white;
    border-radius: 1rem;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
    padding: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 14rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 300px;
    gap: 10px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.left_area {
    display: grid;
    grid-template-columns: 530px auto;
    gap: 1rem;
}

.header {
    display: flex;
    flex-direction: column;
}

.examName {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.desc {
    font-size: 16px;
    margin-top: 5px;
    color: #444;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.top-users {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.user {
    display: grid;
    grid-template-columns: 48px auto;
    gap: 8px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.time span {
    font-size: 16px;
    color: #555;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.tag {
    background: #E5E7EB;
    padding: 4px 10px;
    font-size: 12px;
    color: #555;
    border-radius: 6px;
    display: inline-block;
    white-space: nowrap;
}

.right_area {
    font-size: 16px;
    color: #888;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.stats {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.date {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.dateRow {
    display: flex;
    align-items: center;
    gap: 6px;
}

.empty {
    text-align: center;
    color: #6b7280;
    grid-column: 1 / -1;
    margin-top: 2rem;
}